[2018-09-25 18:49] bastelfreak commented on #543
Hi @maxfactor1, dependency management in puppet is complicated. There are certain modules that are a dependency, but only if you are on a certain platform or use a certain feature of the zabbix module. The `metadata.json` file has no option to set a condition to a dependency. I'm afraid you will have to accept the warnings or you will have to install the other modules.

[2018-09-25 18:52] bastelfreak commented on #541
Honestly, I don't know. I am fine with managing the `defaults` files. But stopping the management of a file can lead to some errors. I am not sure what the best approach is. Maybe we actually stop it, make a new major release and add some acceptance tests that verify everything is still working.

[2018-09-25 20:07] icroseland opened #544 "API Error"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.3
- Ruby: ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux]
- Distribution: CentOS Linux release 7.5.1804
- Module version: 6.4.2

setting up zabbix server with a super minimal class right now..
class { 'zabbix':
    zabbix_url         => 'test0.local',
    manage_resources   => $manage_resources,
  }
}

This is

[2018-09-26 10:01] baurmatt commented on #541
Another day, another look, another problem :( Seems like the SystemV Init File for e.g. 3.0 doesn't have a `DAEMON_OPTS` variable which makes it hard to configure the config file path in them defaults file. I guess to much config options make life harder ;)

Will see if i can come up with an alternative.

[2018-10-04 12:47] baurmatt commented on #541
So we discussed this internally and came up with the following idea: We add a parameter `manage_init_script` which defaults to `true`. As this might break some configuration if set to `false` we suggest to add a big bold warning in the docs that this parameter might not be used with others (`agent_configfile_path`, `service_type`, `pidfile`, `additional_service_params`, `zabbix_user`). Are you ok

[2018-10-05 17:41] bastelfreak commented on #541
Sounds fine to me!

[2018-10-25 11:41] jonasblomq opened #554 "Feature Request: ProxyOfflineBuffer setting for zabbix proxies missing"
It would be nice to be able to tune the ProxyOfflineBuffer setting for zabbix proxies. Currently it is forced to the standard value of 1 hour, and not changeable.Tthis is something that should be managed by the module.

[2018-10-25 12:55] jonasblomq commented on #554
Nevermind..
The zabbix configuration option is called "ProxyOfflineBuffer", but the puppet module uses "offlinebuffer"..

[2018-10-25 12:55] #554 closed

[2018-10-29 16:50] gdubicki opened #556 "zabbix_template resource doesn't work with Zabbix 4.0"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.2
- Ruby: incuded in ^ puppet
- Distribution: Centos 7
- Module version: 6.5.0

## How to reproduce (e.g Puppet code you use)

[code]
..with appropriate values to access my Zabbix instance API.

## What are you seeing

[code]

## What behaviour did you expect instead

It should work as 6.5.0 adds Zabbix 4.0 compatibility

[2018-11-01 16:05] baurmatt opened #558 "Improve performance of zabbix_host"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Puppet 5.5.6
- Ruby: Ruby 2.4.3
- Distribution: Ubuntu 16.04
- Module version: Current master

## How to reproduce (e.g Puppet code you use)
(The hosts are already created in Zabbix)

[code]

[code]

## What are you seeing
The performance of zabbix_host is really poor. The problems seems to be, that Puppet does, for the a si

[2018-11-02 10:41] bastelfreak commented on #556
Sorry, but I'm not really sure how we can help out here :(.

[2018-11-02 16:21] #539 closed

[2018-11-14 14:08] baurmatt commented on #270
@borei74 Is this still a problem with the current version of this module?

[2018-11-14 14:11] baurmatt commented on #182
@ITler/@bastelfreak can you close it? :)

[2018-11-14 14:11] baurmatt commented on #135
@bastelfreak Does this still happen?

[2018-11-14 14:18] baurmatt opened #563 "Make zabbix::resources::agent::hostname configurable in zabbix::agent"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: All
- Module version: Current master

## How to reproduce (e.g Puppet code you use)
Use `zabbix::agent::manage_resources: true` and try to configure the `hostname` parameter of `zabbix::resources::agent`.

## What are you seeing
The `hostname` parameter of `zabbix::resources::agent` cannot be

[2018-11-14 14:45] ITler commented on #182
I'm out of this, as the use-case is not relevant for me anymore. 2,5years..

[2018-11-14 14:45] #182 closed

[2018-11-14 15:56] #563 closed

[2018-11-14 16:52] bastelfreak commented on #135
yes, this issue still exists.

[2018-11-26 15:54] gdubicki commented on #556
Maybe we should switch puppet-zabbix to a fork of zabbixapi with removed hard-coded list of supported Zabbix versions until zabbixapi starts to be maintained again, @bastelfreak ?

PS We should mark this issue as a bug as https://github.com/voxpupuli/puppet-zabbix/blob/master/CHANGELOG.md states that this module is Zabbix 4.0-compatible since v6.5.0.

[2018-11-26 19:32] bastelfreak commented on #556
as long as a fork is available on rubygems and we can properly depend on and, that would be fine.

[2018-12-03 11:38] Ordnaxz opened #566 "Add historyindexcachesize to class zabbix"
Currently, there's no way of setting "historyindexcachesize" when using the class zabbix. An (unwanted) workaround is to use zabbix::server instead.

Could the historyindexcachesize option please be added under class::zabbix in init.pp? Other options such as "historycachesize" are already available under said class.

[2018-12-04 19:58] bastelfreak commented on #566
Hi @Ordnaxz, thanks for bringing this up. Can you create a PR for this?

[2018-12-12 07:52] catsem opened #569 "Incompatibility with puppetlabs-apt (starting from 6.1.0 version )"
After upgrading puppetlabs-apt to 6.1.0 or later, I'm facing following issue:

Error: Could not retrieve catalog from remote server:

Error 500 on SERVER: Server Error: no parameter named 'refresh' at /etc/puppetlabs/code/environments/production/modules/apt/manifests/key.pp:51 on Apt_key[rear] at /etc/puppetlabs/code/environments/production/modules/apt/manifests/key.pp:51 on node foo.bar

Seems li

[2018-12-12 13:38] baurmatt opened #570 "Move zabbix_(url|user|pass) and apache_use_ssl to config file"
(I removed the default template because doesn't really apply to a feature)

### Problem to solve

The current zabbix types/provider are pretty hacky. Some examples:
* `puppet resource` purging isn't possible (`self.instances` isn't implemented)
* `zabbix_host` doesn't allow `ipaddress`, `use_ip`, `proxy`, ... to be changed
* If templates get added to/from `zabbix_host` the change isn't properly sh

[2018-12-12 16:46] baurmatt commented on #569
Are you sure this happens due to the `zabbix` agent module? `Apt_key[rear]` isn't a resource in `zabbix` module.

[2018-12-13 08:49] catsem commented on #569
Uhh sorry my mistake. This is the error I wanted to show:

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: no parameter named 'refresh' at /etc/puppetlabs/code/environments/production/modules/apt/manifests/key.pp:51 on Apt_key[zabbix-FBABD5F] at /etc/puppetlabs/code/environments/production/modules/apt/manifests/key.pp:51 on node foo.bar

I guess that with t

[2018-12-13 08:50] bastelfreak commented on #569
Hi @catsem. Can you provide a PR to fix  this?

[2018-12-13 09:58] alexjfisher commented on #569
This looks like an environment isolation issue to me.

The new parameter is both added to the [type](https://github.com/puppetlabs/puppetlabs-apt/pull/795/files#diff-2e4991e5a1379264a65bf0ee1dc4be10R78) and used in a [manifest](https://github.com/puppetlabs/puppetlabs-apt/pull/795/files#diff-fbfb4772af907a89b73a9df7b206dc8dR53) in the same PR.

But you then get the error that the parameter doesn't

[2018-12-13 10:34] catsem commented on #569
@alexjfisher
Thats the solution. Thanks for the hint. Running **puppet generate types** resolved the issue.
Running puppet for ages and never faced this bevore...

[2018-12-13 10:34] #569 closed

[2018-12-21 10:32] #556 closed

[2018-12-21 11:14] #537 closed

[2018-12-21 11:18] bastelfreak commented on #570
Hi @baurmatt, the proposal sounds good. Sadly I won't have time in the next weeks to implement something like this. If you're willing to do this I'm happy to give it a review and merge it.

[2018-12-21 12:06] baurmatt commented on #570
Hey @bastelfreak, thanks for taking the time to review my proposal. I'm happy to implement this myself, in fact I'm already have a large portion of it implement in our fork. I will add PRs over time which inclemently implement this.

[2018-12-21 19:50] sfuerte opened #580 "zabbix::userparameters source & script, remove "Stdlib::Filesource" type"
Not sure why it was introduced in [95dc9b21](https://github.com/voxpupuli/puppet-zabbix/commit/95dc9b211c0e7146672c9a48eb5a7fe17f033031#diff-89b3f15e170a7efeafe77b26302060d5), but it limits the usage significantly, as the path can be only:

-  Stdlib::Absolutepath,
-  Stdlib::HTTPUrl,
-   /^file:\/\/\/([^\/\0]+(\/)?)+$/,
-   /^puppet:\/\/(([\w-]+\.?)+)?\/modules\/([^\/\0]+(\/)?)+$/,
(see https://g

[2018-12-21 23:52] bastelfreak commented on #580
Hi @sfuerte, thanks for bringing this up. Are you able to provide a PR for this module to fix this?

[2018-12-22 23:56] alexjfisher commented on #580
@bastelfreak PR to stdlib needed probably?

[2018-12-23 13:42] alexjfisher commented on #580
@bastelfreak A temporary fix in this module would make sense.  Meanwhile, I've opened https://github.com/puppetlabs/puppetlabs-stdlib/pull/981

[2019-01-17 16:06] francesco2013 commented on #569
Hello I am facing the very same problem. But the very weird thing in my case is that within the same environment (Production) all other agents (they all run the same version 4.10.10) dont have this error.
Nothing changed and only one agent on one specific machine gives this error.
I am not a puppet expert and I am frankly a bit scared of trying to issue puppet generate types on the puppet server.

[2019-01-17 16:17] baurmatt commented on #569
Try using `puppet generate types`. You can get rid of the generated files by running:

[code]

[2019-01-17 16:21] francesco2013 commented on #569
Thanks for your answer baurmatt but that does not explain why all other agents that are identical are working and not this specific one. I would do that command if they would all fail. There must be something wrong with one agent. As I said I am terrified by the idea of screwing up the puppet server setup ...

[2019-01-18 00:12] #566 closed

[2019-01-18 08:34] baurmatt commented on #569
It just ensure your types are environment save. --> https://puppet.com/docs/puppet/5.4/environment_isolation.html

No. We run it for every deployment we do. Probably a couple of hundred times a day.

The user which you use for deploying you Puppet code.

[2019-01-18 15:03] eimlav commented on #569
@alexjfisher has it spot on. This specific environment isolation issue has been observed by other people ([see ticket](https://tickets.puppetlabs.com/browse/MODULES-8019)) and all those affected were able to rectify the issue with `puppet generate types` command. If you would like additional information on environment isolation and how to remedy these issues please see [here](https://puppet.com/do

[2019-01-18 15:46] baurmatt commented on #569
@francesco2013 You're welcome! :) But be warned, restarting the Puppetserver might solve this issue now but it (or something similar) will showed up again and again. You need to implement the puppet generate types command at some point to ensure your types aren't poising other environments.

[2019-01-21 09:17] francesco2013 commented on #569
@baurmatt I still did not try the command. We deploy the puppet code using r10k as I written before as user puppet on the puppet server, but I see that user does not have the puppet executable in its path. I am now wondering if there is a reason for it. Again I can run the **puppet generate types** as root but would be this fine ? Using a user that is not the one we use for r10k ? I know my questi

[2019-01-21 09:30] baurmatt commented on #569
The reasons is, that Puppet gets deployed into /opt/puppetlabs/*. The `puppet-agent` package deploys `/etc/profile.d/puppet-agent.sh` with the following content:

[code]

Just ensure that this is sourced when you run a command as user `puppet` (e.g. by running an interactive shell) or set it manually. Usually I just hard code the path.

Probably easier if you run it as the same user you do r10k de

[2019-01-21 15:47] francesco2013 commented on #569
I am a bit in troubles @baurmatt. I have restarted the puppet server and now the puppet agent throws a new error:

root@XXXXXXXXXXX:~# puppet agent -t
Info: Using configured environment 'production'
Info: Retrieving pluginfacts
Info: Retrieving plugin
Info: Loading facts
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluatin

[2019-01-21 16:55] francesco2013 commented on #569
Thank you for this. I will try to ask there. I dont really get what is going on. First the refresh issue of out the blue, then I restarted the server and now this one instead of the previous error. It is totally not logic a complete nonsense which scares me quite a lot

[2019-01-31 15:48] RipperSK opened #590 "Fails to apply manifest for zabbix-agent 3.0"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppetserver                   5.3.6-1stretch
- Ruby: n/a
- Distribution: Debian 9.6
- Module version: puppet-zabbix (v6.7.0)

## How to reproduce (e.g Puppet code you use)
Try the following manifest:

<pre>
node backuper {
  # Install and manage zabbix agent
  class { 'zabbix::agent':
    zabbix_version       => '3.0',

[2019-01-31 17:40] bastelfreak commented on #590
Hi @RipperSK, which version of the puppetlabs-apt module do you use? An outdated version?

[2019-01-31 18:11] RipperSK commented on #590
Hi Tim,

I was using ├── puppetlabs-apt (v4.2.0)

but since you suggested to upgrade it - I did. Don't get me wrong - I tried
upgrading all the modules before submitting the issue but I ended up with :

Error: Could not upgrade module 'puppetlabs-stdlib' (v4.25.1 -> latest)
  There are 3 newer versions
    No combination of dependency upgrades would satisfy all dependencies

so I just gave up at t

[2019-01-31 18:12] RipperSK commented on #590
And I forgot to thank you :) so thanks for the help man :)

št 31. 1. 2019 o 19:11 Roman Spiak <spiak.roman@gmail.com> napísal(a):

[2019-01-31 18:13] bastelfreak commented on #590
I recommend upgrading modules in a test env from time to time to the latest version. Often they work, you just need to ignore the versions in the metadata.json.

[2019-01-31 18:13] #590 closed

[2019-02-14 05:50] andy-fry commented on #175
I know this hasn't been looked at for quite some time but I need this too. There is a zabbix agent module which manages windows agent installs but I would like one module to cover off all my zabbix monitoring needs.

[2019-02-14 05:54] anthonysomerset commented on #175
ironically i was just about to post the same post, I'm going to take a rough stab at this and see what i come up with

[2019-02-14 07:21] anthonysomerset commented on #175
I've done some quick and dirty work here with some params tweaks and new windows agent manifest

https://github.com/liquidtelecom/puppet-zabbix/tree/add-windows-support

untested if it breaks linux stuff but it works well enough under windows for now.... ideally we would need to merge the functionality into a combined agent manifest and improve the test cases accordingly

[2019-02-15 01:48] andy-fry commented on #175
Very quick response! Wasn't expecting that based on the age of the original issue.

I'll see if I can test this out on both windows and Linux. Judging by the manifests it shouldn't have any impact on Linux though. You've introduced a new class zabbix::agent_windows right?

[2019-02-15 06:17] anthonysomerset commented on #175
yes plus a few adjustments in params config

[2019-02-26 22:43] fgallese opened #594 "check_template_in_host function missing parameter"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.10
- Ruby: 2.3

## How to reproduce (e.g Puppet code you use)

Make use of the Zabbix_userparameters resource. For example:

[code]

## What are you seeing

`Error: /Stage[main]/Zabbix::Resources::Web/Zabbix_userparameters[my.hostname_testing_nginx]: Could not evaluate: wrong number of arguments (given 2, expected 1)`

#

[2019-02-27 00:37] bastelfreak commented on #594
hey @fgallese, thanks for rising this issue. Please provide the PR you mentioned :)

[2019-02-27 18:18] #594 closed

[2019-02-28 23:18] fgallese opened #596 "Puppet cleaning templates on each run"
So, I've noticied the following issue:

**Scenario**:

A host is created using zabbix::agent, which exports a Zabbix_host resource.
In this host you specify a default set of basic templates.

Example:

[code]
You ALSO define some userparameters (one or more) for this host, in order to set some other templates with their configuration.

Example:

[code]

On the zabbix server, you define manage_reso

[2019-03-01 08:14] bastelfreak commented on #596
@fgallese thanks for reporting this. @baurmatt can you have a look please?

[2019-03-01 08:36] alexjfisher commented on #596
@fgallese Yes, thank you for the very detailed feedback and offer to author a fix.

Like @bastelfreak, I also thought of pinging @baurmatt as he’s been the most involved in this module recently and probably knows it better than anyone else around at this time.

[2019-03-01 09:32] baurmatt commented on #596
But hes on holiday for another week and sadly chilling in the malaysian sun comes first! ;) Sorry if I broke something, will have a look after 10th of March.

Send from one of my mobile devices

Am 01.03.2019 um 16:36 schrieb Alexander Fisher <notifications@github.com <mailto:notifications@github.com> >:

@fgallese Yes, thank you for the very detailed feedback and offer to author a fix.

Like @bas

[2019-03-01 12:31] alexjfisher commented on #596
@baurmatt Enjoy!  Come back rested! ;)

[2019-03-13 09:09] baurmatt commented on #596
So... back from holiday... :)

May I disagree: For me this is valid, as I want to ensure that only the defined templates on `zabbix_host` are configured for it in Zabbix. If I remove a template from it, I also want it to be removed in Zabbix.
Of course this collides with your use-case of zabbix::userparameter/zabbix_userparameters.

I see a couple of options how to fix this:
* `zabbix_host` gets a

[2019-03-13 11:43] fgallese commented on #596
@baurmatt hope you had a great time !

Thank you for your time checking this.

While I understand and agree with your point, I think that then there must be some warning in the documentation mentioning that any change to this (including manual changes made with the Zabbix Web GUI) will  be removed and purged on next puppet run (when managed resources set to true). If it's already mentioned please

[2019-03-14 13:18] baurmatt commented on #596
I think that's a good idea.

I'm not sure if we should do this. The reason for this is: If you decide to manage your things (not limited to this module) with Puppet, there shouldn't be other (Auto Registration Rule, people doing things manually, ...) stuff manipulating the same parameters. This will also lead to unpredictable behaviors. That's why I'm voting to implemented this:

That would ensure

[2019-03-19 09:19] fgallese commented on #596
Fair enough, I do like that approach, but I still think it should include a purge option, at least for hostgroups.

Think of my scenario: I use Zabbix's own feature of auto registration rules, where a host is put inside a group based on the MetaData. In this scenario, the hostgroups are not delcared in the Zabbix_host resourse, so they are purged on each Puppet run. I'd like to override this behav

[2019-03-20 14:43] baurmatt commented on #596
I think we're doing something quite similar as you do, at least for the templates part (hostgroups will probably implemented the same at some point).

Preamble: As our setup contains about 3000 hosts, a concat like collector isn't really possible because the performance gets worse with every host. For example: Imagine every host has 5 templates and 3 host groups. That would sum up to about 24000 r

[2019-03-20 16:10] bkmeneguello opened #597 "Installation failed on Amazonlinux 2"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.3.0
- Distribution: Amazonlinux 2
- Module version: 6.7.0

## How to reproduce (e.g Puppet code you use)

class{'zabbix::agent':
  zabbix_version => '3.4',
  manage_repo    => true,
}

## What are you seeing

Error: Package: zabbix-agent-3.4.15-1.el6.x86_64 (Zabbix_6_x86_64)
           Requires: libpcre.so.0()(64bit)

## W

[2019-03-23 22:24] bastelfreak commented on #597
HI @bkmeneguello, thanks for raising the issue. Are you able to provide a patch for this?

[2019-03-26 16:47] bkmeneguello commented on #597
I am, but I'm not sure if epel 7 should be used always by amzn2. Can you confirm this assumption? If yes the PR is easy peasy.

[2019-03-27 09:19] bastelfreak commented on #597
Sadly I don't have any amazon boxes by hand and I don't know their operating systems very well :(

[2019-04-02 13:22] KrzysztofHajdamowicz opened #598 "Cannot declare Selboolean zabbix_can_network elsewhere"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.10 AIO
- Ruby: shipped with AIO
- Distribution: CentOS 7
- Module version: 6.7.0

## How to reproduce (e.g Puppet code you use)
Use sth like `site.pp` to globally declare selboolean { 'zabbix_can_network' } and on specified node declare zabbix::server.

## What are you seeing
Puppet fails because there is duplicate resou

[2019-04-05 11:16] KrzysztofHajdamowicz commented on #364
#Notetoself:
Try to make PR for this issue

[2019-04-06 14:15] #598 closed

[2019-04-09 11:13] Fabian1976 opened #601 "snmptrapper parameter wrong"
https://github.com/voxpupuli/puppet-zabbix/blob/8da8100cd9fa37772e8b9ba0416e1d042b737de1/manifests/proxy.pp#L392

This parameter should be startsnmptrapper  (according to it's own class description). Or update the class description. But then it would be inconsistent with the parameter name in server.pp

It is named correctly in the server.pp file.

[2019-04-09 11:16] Fabian1976 commented on #601
Sorry, i see there is allready a duplicate (#371 ). Do you want me to provide a fix?

[2019-04-15 14:06] mfinkelstine opened #602 "zabbix server not start after fresh installation"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4
- Ruby: ruby 2.3.1p112
- Distribution: ubuntu 16.04 LTS
- Module version:  puppet-zabbix (v6.7.0)

## How to reproduce (e.g Puppet code you use)
Install puppet modules, and configure the specific host with postgres sql and run puppet agent.

## What are you seeing

21740:20190415:163938.689 cannot use database "zabbix_serv

[2019-04-19 18:15] dugdigg opened #603 "proxy manifest fails if DB is postgresql and not on same system"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.13-1
- Ruby: 2.4.5p335
- Distribution: CentOS y
- Module version: 6.7.1-rc0

## How to reproduce (e.g Puppet code you use)
Wrapper for the proxy module, variables are loaded from hiera data.
class profiles::monitoring::proxy (
    $server_ip                 = lookup('zabbix_server_ip'),
    $database_type         = looku

[2019-04-25 20:19] minorOffense opened #604 "Add capacity to specify firewall chain"
## Affected Puppet, Ruby, OS and module versions/distributions
All versions

## How to reproduce (e.g Puppet code you use)
Can't specify a firewall chain. Using the default chain the firewall rule doesn't necessarily cleanup well if zabbix is removed

## What are you seeing

## What behaviour did you expect instead
By letting the user specify a chain, they can have the zabbix rules in a chain that

[2019-05-03 19:04] coxifred opened #606 "Add status property to zabbix_host resource"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.3
- Ruby: 2.3
- Distribution: Solaris11.3 with gem zabbixapi 2.2
- Module version:

zabbixapi gem provides status property (monitor or umonitor)
The best thing will be to add in zabbix_host as a property. In this way for creation we can set it to 1 (meaning unmonitor), then later with an update (still in zabbix_host) set i

[2019-05-06 12:35] ljeromets opened #607 "zabbix::userparameters::data doesn't notify correctly the zabbix-agent service"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.13
- Ruby:
- Distribution: Ubuntu 16.04
- Module version: 6.7.0

## How to reproduce (e.g Puppet code you use)
Use the zabbix::userparameter::data in hiera

`zabbix::userparameter::data:
  'userparameter_diskstats':
    source: puppet:///modules/zabbix/linux/userparameter_diskstats.conf
    script: puppet:///modules/zabb

[2019-05-23 05:04] trenta opened #609 "PrivateDevices=yes stops fping from working on Ubuntu 18.04"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.4.2
- Ruby:
- Distribution:
- Module version: 6.7.0

## How to reproduce (e.g Puppet code you use)

## What are you seeing
All simple ICMP ping checks failing

## What behaviour did you expect instead

## Output log
fping failed: (null): can't create socket (must run as root?) : Permission denied

## Any additional informa

[2019-05-23 05:05] trenta commented on #609
The message received in the server log is fping failed: (null): can't create socket (must run as root?) : Permission denied

This was found https://bugs.archlinux.org/task/60113

I understand that Ubuntu 18.04 isn't supported by this module yet though.

[2019-06-05 20:44] grunt009 commented on #609
Same issue here, use of `NoNewPrivileges=no`  seems not to work and produces the same error.
This also prevents use of ping in the web interface.

[2019-06-10 08:18] bastelfreak commented on #496
Hi @ruriky, did you test if this still happens with the master branch of the module?

[2019-06-11 10:30] ruriky commented on #496
Hi @bastelfreak, unfortunately the master branch has still the same bug / feature. Changes in systemd's service file won't trigger the agent service. After updating the module from v2.6.2 to master, the service file is updated and daemon-reload is called but that happens after the agent-service is already restarted due config file changes.

Maybe this is a wanted feature as user has to restart the

[2019-06-11 10:45] bastelfreak commented on #496
The current behaviour sounds like a bug. Can you provide your code as a PR, maybe with a little test?

[2019-06-27 11:13] miksonx commented on #451
@tux-o-matic Have you manage to control upgrade of zabbix-agent using zabbix_package_state => 'latest' as stated in https://forge.puppet.com/puppet/zabbix/5.0.0/readme#upgrade
I get unclear error even that I have the 4.2 EL6/7 Repos in place

Error: Could not get latest version: undefined method `[]' for nil:NilClass
Error: /Stage[main]/Zabbix::Agent/Package[zabbix-agent]/ensure: change from 3.2.1

[2019-06-27 11:26] tux-o-matic commented on #451
@miksonx , that sounds like a Puppet problem (not the Zabbix module) parsing the output of the Yum provider.
Even with manual upgrade working for you, I'd check the output of this to compare:
[code]
I think a PR will be needed to fix the way agent/repo version are used in the module. Nothing happened since 2017 and I'm still not satisfied with the way this module controls the Zabbix version to ins

[2019-06-27 11:53] miksonx commented on #451
Hi @tux-o-matic
It's strange that this only happens on EL6. (I didn't verify on EL7 before posting, verified now and works on EL7)
Anyway on EL6 this is the output

zabbix-agent.x86_64                                                                     3.2.11-1.el6                                                                      @BC_Zabbix_Zabbix_3_2_RHEL6_x86_64
Available Packages
zabbix-agen

[2019-07-14 04:33] #607 closed

[2019-07-26 14:32] luisgalang commented on #609
Hi,
You should do two steps to get fping working in zabbix over Ubuntu 18.04:
* chmod ug+s /usr/bin/fping
* Comment the following line in /etc/systemd/system/zabbix-server.service
      #PrivateDevices=yes

I guess template file from the repo should be updated (https://github.com/voxpupuli/puppet-zabbix/blob/master/templates/zabbix-server-systemd.init.erb) to comment that line.

[2019-07-26 15:37] jordips commented on #609
Same issue here. We are using it with ubuntu 18.04. I don't know if it's really useful in this case... but this prevents zabbix to work properly using fping.

[2019-08-02 12:04] jairelee opened #620 "Postgresql port parameter is ignored."
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.10
- Ruby: 2.5.1p57
- Distribution: Ubuntu 18.04.2
- Module version: 6.7.0

## How to reproduce (e.g Puppet code you use)
database_port => '5444'
## What are you seeing
Parameter is ignored as default port 5432 is hard coded:
`
manifests/database/postgresql.pp:    command => "echo ${database_host}:5432:${database_name}:$

[2019-08-15 14:33] Samgarr commented on #609
Also issue here.
According to docs, PrivateDevices=yes implies NoNewPrivileges=yes, which prevent gaining pinger process setuid privileges or capabilities.

[2019-08-16 10:34] andreaconsadoriw opened #621 "Zabbix 4.2 Support"
Any chance to have zabbix 4.2 support?

[2019-08-22 21:53] danoe commented on #621
Did you have any problems with the update? I ran it with version 4.2 set and it seems fine so far. `zabbix::zabbix_version: '4.2'`

[2019-08-23 12:45] andreaconsadoriw commented on #621
I see is not supported in release notes and I imagine cannot fix the new proxy variables

Andrea Consadori

Head of Front End Team

Mission Critical Infrastructure & Security Expert

WhySecurity Srl

Via del Carmine 1 - Novara

P.IVA IT03404340543

T: +39 0321 1856303

C: +39 3457020228

________________________________
From: danoe <notifications@github.com>
Sent: Thursday, August 22, 2019 11:53:4

[2019-08-27 17:46] TJM opened #622 "zabbix::agent::userparameter not used userparameter and unsafeuserparameter"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.0.5
- Ruby:(embedded) 2.4.4p296
- Distribution: CentOS 7.6
- Module version: 6.7 (master branch too)

## How to reproduce (e.g Puppet code you use)

Set zabbix::agent::userparameter in hieradata...

## What are you seeing

no effect on config

## What behaviour did you expect instead

Maybe zabbix agent should call zabbix:

[2019-09-17 21:56] xray-sky commented on #609
I found that simply changing PrivateTmp=yes to PrivateTmp=no was all that was needed to fix the fping failure on the zabbix server in 18.04. Be nice to get this addressed one way or another, though.

[2019-09-23 20:21] #609 closed

[2019-09-25 13:00] baurmatt opened #625 "Place agent config file if config file is a symlink"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All (?)
- Ruby: All (?)
- Distribution: CentOS 7
- Module version: Current master

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

Puppet isn't able to place the config file, if the config file is a symlink.

## What behaviour did you expect instead

Puppet just places the correct config file n

[2019-09-27 07:39] #429 closed

[2019-10-07 17:21] #625 closed

[2019-10-09 16:49] olifre opened #631 "Some Zabbix packages (3.0 / 4.4 for RHEL 8) signed with another GPG key (again)"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5
- Distribution: CentOS 8

## How to reproduce (e.g Puppet code you use)
Try to install Zabbix agent 3.0 or 4.4, i.e.:
[code]

## What are you seeing
GPG key verification fails. These packages appear not to be signed with:
`https://repo.zabbix.com/RPM-GPG-KEY-ZABBIX` anymore, but with `https://repo.zabbix.com/zabbix-officia

[2019-10-10 07:09] baurmatt opened #632 "Service started before database is required"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.7.2
- Ruby: 2.5.3
- Distribution: Ubuntu 18.04
- Module version: 580b484f672d8003a6821ecd95d8e93df49c8092

## How to reproduce (e.g Puppet code you use)
Install a `zabbix::server`

## What are you seeing

Service is started before database is initalized.

[code]

## What behaviour did you expect instead

Service is started

[2019-10-10 07:18] baurmatt commented on #632
Magically fixed by 7.0.0 oO

[2019-10-10 07:18] #632 closed

[2019-10-11 09:00] Rathios opened #633 "Zabbix repo manifest does not support setting proxy"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.16
- Ruby: 2.5.1
- Distribution: Ubuntu 18.04.3 LTS
- Module version: v7.0.0

## How to reproduce (e.g Puppet code you use)
Attempt to install Zabbix Agent on Ubuntu behind a proxy, eg. a corporate network, with the module managing the Zabbix repo.

## What are you seeing
tcpdump will show Puppet attempting to fetch the

[2019-11-04 16:50] eric-crossman opened #638 "logrotate unknown user when using a non-standard user account"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.8.1
- Ruby: 2.1.9p490
- Distribution: RHEL 7.7
- Module version: 6.2.0

## How to reproduce (e.g Puppet code you use)
class eis_profiles::zabbix_agent {
  include zabbix::agent
}

zabbix::agent::agent_config_owner: "ict-zabbix"
zabbix::agent::agent_config_group: "ict-zabbix"
zabbix::agent::manage_selinux: false
zabbix::age

[2019-11-19 10:09] Fabian1976 opened #640 "Alert scripts not correct default value"
https://github.com/voxpupuli/puppet-zabbix/blob/0d2547a22331aea332e4f508be5ea88b12f5bf22/manifests/params.pp#L145

Why is the `alertscriptspath` parameter not the Zabbix default value of `/usr/lib/zabbix/alertscripts`? That folder exists by default and has the right permissions (SELinux). The current default `/etc/zabbix/alertscripts` doesn't exist by default so you have to build a lot of stuff ar

[2019-11-25 20:03] olifre commented on #631
Actually, it seems we now have another special case.
Newer 3.0 releases seem to be signed with `RPM-GPG-KEY-ZABBIX-A14FE591`.

However, `RPM-GPG-KEY-ZABBIX-A14FE591` and `zabbix-official-repo.key` appear to be identical, the latter just has an additional ELG part.

[2020-01-06 11:42] stanframbach opened #643 "Add support for CentOS/RHEL 8"
Currently there is no support for CentOS 8. Could this be added to the module?

[2020-01-07 16:36] baurmatt opened #645 "Test for CentOS 7 current failing due to bug in docker"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: CentOS 7.7
- Module version: Current master

## How to reproduce (e.g Puppet code you use)
Take a look at the failing Travis test in master (https://travis-ci.org/voxpupuli/puppet-zabbix/jobs/633797254)

## What are you seeing

[code]

## What behaviour did you expect instead

Tests runs suces

[2020-01-08 08:50] #645 closed

[2020-01-23 18:30] jadestorm commented on #175
@anthonysomerset Would you be willing to submit a PR with your work?  If you don't want to mess with it, would you object to me borrowing your work and polishing it up into a PR against the latest code?

[2020-01-23 18:33] anthonysomerset commented on #175
Hi @jadestorm i'm more than happy for you to borrow and polish as needed, unfortunately like many i am just too busy right now to invest more time at the moment - as i say the initial work was quick and dirty, am sure there are a bunch of corner cases that i haven't yet accounted for

that being said it would be far cooler if this could be merged into the main agent class so that one does not necc

[2020-01-23 20:34] jadestorm commented on #175
@anthonysomerset Ok thank you!  I've been meaning to get this support rolled in at some point. =D

[2020-02-01 13:48] bastelfreak commented on #643
hey @stanframbach, do you think you're able to provide a patch for this? A first step would be to add CentOS/RHEL 8 to the metadata.json. This will automatically extend our CI matrix and test against those operatingsystems as well.

[2020-02-02 23:12] trenta opened #655 "server_logtype should be optional"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.12.0
- Ruby:
- Distribution: Ubuntu 18.04
- Module version: 8.0.0

Currently server_logtype is set by the module with no user option available.  I'd like to set it to file rather than system.

[2020-02-21 01:01] CallieNCI opened #658 "Remove dependency on concat"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.4.0
- Ruby:
- Distribution:
- Module version: 8.0.0

## How to reproduce (e.g Puppet code you use)

Seen when building an environment using `librarian-puppet` where other modules have a dependency on `puppetlabs/concat` version < 3.0 (in our case the ceph module). The zabbix module want >= 4.1.0

## What are you seeing

Co

[2020-02-21 18:47] alexjfisher commented on #658
I think you're right, so I'll fix it here.  You may want to open a PR over at https://github.com/openstack/puppet-ceph too.

[2020-02-24 13:39] olifre commented on #631
This now also affects 3.0 releases for RHEL 7.
For those suffering from similar issues, I use the following hack right now:
[code]

[2020-02-24 20:39] #658 closed

[2020-02-27 11:31] ludimax opened #660 "Resource zabbix_host fails when there's a host with no interface type 1"
https://github.com/voxpupuli/puppet-zabbix/blob/dce7c924109473866f88e316740627e670f6e237/lib/puppet/provider/zabbix_host/ruby.rb#L18

This fails when there's a host with no interface which has 'type' with value 1.

[code]

Example from Zabbix API:
[code]

[2020-03-01 18:10] xhejtman opened #661 "zabbix::repo should be in setup stage"
Class zabbix::repo should be marked to be in setup stage (String $stage = 'setup') otherwise one can get dependency cycle:
(Apt_key[zabbix-A1848F5] => Apt::Source[zabbix] => Apt::Setting[list-zabbix] => File[/etc/apt/sources.list.d/zabbix.list] => Class[Apt::Update] => Exec[apt_update] => Class[Apt::Update] => Stage[setup] => Stage[main] => Class[Zabbix::Repo] => Apt::Source[zabbix])\nTry the '--g

[2020-03-01 18:29] xhejtman opened #662 "userparameters vs templates vs zabbix::agent"
If one uses template parameter in zabbix::userparameters to link host with template, one needs to add this template name also to zabbix::agent class to zbx_templates otherwise template is removed from the host and linked back later.

[2020-03-02 16:47] baurmatt commented on #661
Hey @xhejtman,

thank you for opening this issue. The apt module documentation clearly states:

https://github.com/puppetlabs/puppetlabs-apt#limitations

[2020-03-02 16:47] #661 closed

[2020-03-02 16:52] baurmatt commented on #655
Hey @trenta,

thanks for opening this issue! :) I see that the parameter `server_logtype` can be configured at the `zabbix::server` class and you can set it to `file`.

https://github.com/voxpupuli/puppet-zabbix/blob/master/manifests/server.pp#L313

What exactly are you missing?

[2020-03-02 21:35] trenta commented on #655
So that parameter is taken from this if statement https://github.com/voxpupuli/puppet-zabbix/blob/master/manifests/params.pp#L283

So if the systemd fact returns true then server_logtype is set to system and can't be set by the user.

[2020-03-02 21:38] baurmatt commented on #655
That‘s agent_logtype your‘re linking to. Do you mean agent_logtype or server_logtype?

[2020-03-02 21:40] trenta commented on #655
Sorry yes https://github.com/voxpupuli/puppet-zabbix/blob/dce7c924109473866f88e316740627e670f6e237/manifests/params.pp#L178.

All over the place this morning :)

[2020-03-02 21:45] baurmatt commented on #655
No worries, just wanted to be sure! :)

server_logtype can be configured like this:

[code]

[2020-03-02 21:47] trenta commented on #655
Thanks for your help.  Can't believe I missed that.  For the server I'd still be configuring things in the zabbix class.

[2020-03-02 21:47] #655 closed

[2020-03-02 21:54] trenta commented on #655
Yeah to just to confirm if you want to use the zabbix class for a single server setup you can't alter this value so I'd have to change to the following explicit setup so I can set that value?

zabbix::web
zabbix::server
zabbix::database

[2020-03-19 18:54] Niquit opened #667 "Extend import timeout"
For the creating database should be possible to extended parameter import_timeout (because default is 300 seconds) in `mysql::db` resource in `database.pp`. It depends on hardware, so for server with high RAM and CPU is not required.

[code]

[2020-04-22 20:18] grodriguezl opened #683 "Not removing zabbix_agentd.conf if another one is set"
## What are you seeing

Is it necessary to purge the default agent config file if I set another one?
I need to add a second agent service and this breaks the existing one.
There could be a parameter defaulted to true to avoid deleting this file.

https://github.com/voxpupuli/puppet-zabbix/blob/8f411bfba529f65d5e0fe0b30c17ba072e2b109f/manifests/agent.pp#L427-L432

[2020-04-27 11:47] KrzysztofHajdamowicz opened #686 "When passing multiple groups to zabbix::agent::zbx_groups, groups are created for each character in alphabet"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Puppet 5.5.19
- Ruby: delivered with Puppet (2.4)
- Distribution: Centos 7
- Module version: 8.0.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
[code]

## What behaviour did you expect instead
I expect to add host to Host Groups based on elements in array, not letters of elements of array

[2020-05-14 20:24] broadaxe opened #689 "Add Support for Zabbix 5.0"
The current version of this module does not support Zabbix 5.0. I know this Zabbix version just got released a couple of days ago, but it would be awesome if/when it is supported. I understand this would take time.
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Latest
- Ruby: Latest with Puppet
- Distribution: CentOS 7
- Module version: Latest

## How to reproduce (e.g P

[2020-05-15 08:25] VibroAxe commented on #689
I would also be keen to see this

[2020-05-19 11:11] msnellen commented on #689
I'm also very interested in this as we are currently managing only our Zabbix-agent and would like to migrate to Zabbix 5 in the near future. Would be great if we could use this module to handle the whole thing.

[2020-05-21 14:23] #199 closed

[2020-05-25 05:59] aclarkee commented on #689
I believe the main blocker here will be that the ZabbixAPI rubygem only officially supports up to 4.2, and hasn't had any update since [November 2019](https://github.com/express42/zabbixapi)

I wonder where that leaves this module, since it relies heavily on this rubygem.. Either branching off and maintaining a new version of the gem, or talking to the API directly?..

[2020-06-03 00:43] jameskirsop commented on #689
At this point, I'm probably going to have to abandon using this module because of the need to move to 5.0 rapidly.

I'm not using the features of this module that require the ZabbixAPI rubygem - and if this is a roadblock to getting 5.0 support, I'd be all for removing support for automatically adding hosts with agents via the API.

[2020-06-03 00:57] aclarkee commented on #689
I've actually been doing some testing with zabbix 5.0 - the zabbixapi gem works fine, just warns.

I'll submit a pull request a bit later, but my usecase is very specific, so not everything is tested. Someone else will have to step up and contribute code to get their usecases working :)

[2020-06-03 01:13] jameskirsop commented on #689
@aclarkee Do you have a branch for your changes that I can take a look at and test with (and possibly contribute to)?

[2020-06-03 09:37] aredoff commented on #689
We really need zabbix_agent2 support!
Please add new agent support to your wonderful module.

[2020-06-03 09:44] aredoff opened #692 "Add Support for Zabbix Agent 2"
The current version of this module does not support Zabbix Agent 2.
Agent 2 has much more functionality and we would like to switch to it.
Please add new agent support to your wonderful module.

[2020-06-09 02:19] jameskirsop opened #693 "Allow for configuration of 5.0's zabbix.conf.php SAML settings"
5.0 introduced some new settings that are managed via `zabbix.conf.php` including those for SAML authentication. On a CentOS 7 installation this file is located in `/etc/zabbix/web`.

These would be added to the `zabbix::web` class.

Particular configuration settings to manage:
[code]

Reference: https://www.zabbix.com/documentation/current/manual/web_interface/frontend_sections/administration/aut

[2020-06-15 15:31] anthonysomerset commented on #693
there is also a DB config value relating to the DB in the 5.0 upgrade

https://www.zabbix.com/documentation/current/manual/installation/upgrade_notes_500 - Enabling extended range of numeric (float) values

[2020-07-08 10:03] nafetsreuab opened #696 "Add zabbix user to pre-defined system groups on first setup"
Often zabbix-agent needs to read log-files and stuff that it has no permissions to.

Please add option (like in the apache module) for zabbix-agent so it will be added to additional groups on first install:

supplementary_groups

Data type: Any

A list of groups to which the user(zabbix) belongs. These groups are in addition to the primary group. Notice: This option only has an effect when manage_

[2020-07-22 20:20] #504 closed

[2020-07-24 14:31] Fabian1976 commented on #660
Any progress on this? I ran into the same issue. It is perfectly fine to have hosts with only a SNMP interface (Firewall/Switch).

[2020-08-19 21:30] cantebigene opened #702 "Potential vulnerabilities in Puppet files: Hard-coded Secret"
25 hard-coded secrets were found in 3 different scripts.

Script 1: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/database.pp
 - Line [153](https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/database.pp#L153): `password=postgresql_password`

Script 2: https://github.com/voxpupuli/puppet-zabbix/blob

[2020-08-19 21:30] cantebigene opened #703 "Potential vulnerabilities in Puppet files: Use of weak crypto algorithm"
4 cases of using weak crypto algorithms were found in 2 different scripts.

Script 1: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/database.pp
 - Line [166](https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/database.pp#L166): `md5`
 - Line [181](https://github.com/voxpupuli/puppet-zabbix/blob/184

[2020-08-19 21:30] cantebigene opened #704 "Potential vulnerabilities in Puppet files: Suspicious Comment"
2 suspicious comments were found in 2 different scripts.

Script 1: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/agent.pp
 - Line [113](https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/agent.pp#L113): `#   at a later time (when the server reaches production sla)`

Script 2: https://github.com/vo

[2020-08-19 21:30] cantebigene opened #705 "Potential vulnerability in Puppet file: Invalid IP address binding"
The following script seems to have an Invalid IP address binding `0.0.0.0`: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/params.pp#L432

An invalid IP address binding is when the 0.0.0.0 address is assigned to a database server or cloud service.

This type of smell can lead to a well-known type of vulnerability, as documented by CWE ([CWE-284](

[2020-08-19 21:30] cantebigene opened #706 "Potential vulnerability in Puppet file: Admin by default"
The following script seems to have an admin by default configuration `server_api_user=admin`: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/params.pp#L198

Specifying default users as administrative users gives a level of privilege to users that only an admin should have.

This type of smell can lead to a well-known type of vulnerability, as doc

[2020-08-19 21:30] cantebigene opened #707 "Potential vulnerabilities in Puppet file: Use of HTTP without TLS"
The following script seems to have 2 configurations of HTTP without TLS: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/repo.pp

Line [108](https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/repo.pp#L108): http://naizvoru.com/raspbian/zabbix
Line [137](https://github.com/voxpupuli/puppet-zabbix/blob

[2020-08-19 21:30] cantebigene opened #708 "Potential vulnerabilities in Puppet files: Empty Password"
2 empty passwords were found in 2 different scripts.

Script 1: https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/database/mysql.pp
 - Line [24](https://github.com/voxpupuli/puppet-zabbix/blob/18460617ff21fce274d4c1991b8febbaf0c9c342/manifests/database/mysql.pp#L24): `database_password=`

Script 2: https://github.com/voxpupuli/puppet-zabbix/blob/184

[2020-08-19 21:56] #702 closed

[2020-08-19 21:56] #703 closed

[2020-08-19 21:56] #704 closed

[2020-08-19 21:56] #705 closed

[2020-08-19 21:56] #706 closed

[2020-08-19 21:56] #707 closed

[2020-08-19 21:56] #708 closed

[2020-09-03 04:48] nick-george opened #709 "Feature request: Support 2-way TLS/SSL authentication on Apache webserver configs"
Hi there,

Thanks for the cool module. I'd love to be able to do 2-way SSL/TLS on browser connections to the Apache webserver. I imagine it would just be a matter of passing through to the apache::vhost these variables:

- $ssl_ca
- $ssl_verify_client

Many thanks,
Nick

[2020-09-03 08:39] aclarkee commented on #660
Ran into this today, had to deny the zabbix api user from accessing the affected resources in zabbix. Providing the user has no access to the resources, you wont get the error. Obviously means you can't manage the resources in puppet using this module as well, until this is fixed.

[2020-09-04 21:52] igalic commented on #660
@aclarkee thanks for tracing this down
hopefully somebody can make sense of this and patch it

[2020-09-11 12:43] aclarkee commented on #689
@jameskirsop Sorry for the late reply, got sidetracked with other priorities. I've just submitted a couple of pull requests with my modifications.

I manage the repo & webserver config outside of this module, so have zabbix::web::manage_repo & zabbix::web::manage_vhost set to false in heira.

[2020-09-17 06:54] LarsErikP commented on #689
For what it's worth, I'll "+1" whis. Would love to see Zabbix 5 support, as we're planning to deploy Zabbix in our environment. Would be nice to be able to use the latest version :-)

[2020-09-19 09:01] igalic commented on #689
is anyone here able to provide a patch for 5.x support?
is anyone's company here willing to "sponsor" a patch?
(that is, give you the time to work on this)

[2020-09-22 07:29] aberends opened #717 "zbx_group vs zbx_groups in Readme"
## What are you seeing
In the README.md file the parameter zbx_group is mentioned. In the code this parameter is deprecated in favor of zbx_groups. But in the README.md only zbx_group is mentioned.

## What behaviour did you expect instead
I would expect to see in the README.md that zbx_group is deprecated and mentioning of the newer way, i.e. zbx_groups.

## Any additional information you'd like

[2020-09-22 13:21] igalic commented on #717
@aberends, do you think you could provide us with a patch here?

[2020-10-29 21:11] bjschafer opened #725 "zabbix::agent::hostinterfaceitem not respected"
Hello,

Setting `zabbix::agent::hostinterfaceitem`, e.g. to use DNS in host autoregistration, is not working correctly. I believe the problem is here:

https://github.com/voxpupuli/puppet-zabbix/blob/7ae8f5bd8d43cd279ffc0379db505bb3984e901f/manifests/agent.pp#L278

The type of `zabbix::agent::hostinterface` should indeed be `Optional[Stdlib::Fqdn]`, but `zabbix::agent::hostinterfaceitem` should be

[2020-11-18 11:39] floriankoenig-work commented on #696
I'd also love to see this feature

[2020-11-19 06:35] kenyon commented on #696
Pull requests accepted. :)

[2020-12-09 09:11] superzc-github commented on #270
any explain or updates on this issue please? im seeing this too.

[2020-12-15 02:22] taleintervenor opened #731 "the install action for zabbix 5.0 on centos/redhat 7 is wrong"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppet5-release-5.0.0-7
- Ruby:
- Distribution: CentOS Linux release 7.7.1908
- Module version: 8.0.0

## How to reproduce (e.g Puppet code you use)
class { 'zabbix':
      zabbix_version  => $version,
}
set $version = 5.0
## What are you seeing
puppet zabbix module try to install zabbix-web-mysql
## What behaviour did you e

[2021-01-18 17:04] #544 closed

[2021-01-18 17:04] #621 closed

[2021-01-18 17:04] #689 closed

[2021-01-19 21:02] Joshua-Snapp opened #734 "Need to set $DB[DOUBLE_IEEE754] to true in Zabbix >=5.0's zabbix.conf.php."
## How to reproduce (e.g Puppet code you use)
Install or upgrade to Zabbix 5.0 or newer.
## What are you seeing
The frontend will display "Database history tables upgraded: No" in the System Information widget in the Global view dashboard, unless `$DB['DOUBLE_IEEE754']` value is set to true in `/ui/conf/zabbix.conf.php`.
## Any additional information you'd like to impart
This is discussed in the [

[2021-01-20 23:43] jameskirsop commented on #689
@bastelfreak, could we release/tag the updated version of the module so the 5.0 improvements can be deployed??

[2021-01-21 12:52] pkaroluk commented on #689
You can take latest PHP using SCL module so it doesn't seem difficult to implement
[code]
(*) I haven't tested it yet with 5.0 version

[2021-01-21 21:16] jameskirsop commented on #731
This is a duplicate of #689 and the particular concern is being addressed in the open issue.

[2021-02-11 03:21] jameskirsop commented on #692
I've got a branch with limited agent2 support here: https://github.com/jameskirsop/puppet-zabbix/tree/agent2

It needs some polishing before a PR can be created. Basically, switching out the `zabbix_package_agent` parameter from `zabbix_agent` to `zabbix_agent2` will do a couple of things:
- Change the systemd init script to use the new binary name
- Use a new template for the agent2 config

To st

[2021-02-23 13:20] 0none opened #740 "Ensure future compatibility with systemd"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Any
- Ruby: Any
- Distribution: Any, using Systemd
- Module version: 8.0.0, master

## Any additional information you'd like to impart
This is really just a heads-up.
In a recent commit on the puppet module "systemd" which is a dependency for this module, the code that creates the resource `Exec[systemctl-daemon-reload]` is

[2021-03-04 10:21] tuxmea commented on #740
There are two possible solutions:
1. remove the notify on the exec daemon-reload and drop support for puppet < 6.1
2. add the exec resource and keep compatibility with puppet < 6.1

Which solution do we prefer?
@bastelfreak @0none

[2021-03-04 10:38] root-expert commented on #740
It's being addressed here #742 . Not ready though

[2021-03-12 04:48] jameskirsop commented on #692
I've put work on this on hold until we get #743 done, so that at least I can test a working master release with my branch on top of it in my puppet environments.

[2021-03-14 20:49] #731 closed

[2021-03-19 01:41] dbnewman opened #752 "Ubuntu focal proxy fails to install with mysql-8.0 (syntax error)"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.21.1
- Ruby: Bundled version
- Distribution: Ubuntu 20.04.2 Focal
- Module version: 8.0.0

## How to reproduce (e.g Puppet code you use)
sudo /opt/puppetlabs/puppet/bin/puppet apply -e "class { 'mysql::server': } class { 'zabbix::proxy': hostname => 'AWS1ZAB02', zabbix_server_host => 'xxx.xxx.xxx.xxx', zabbix_version => '5

[2021-03-19 02:13] dbnewman commented on #752
Found issue related to other puppet module that had not updated

[2021-03-19 02:13] #752 closed

[2021-04-16 14:34] Ronaldschouw opened #754 "cachesize parameter"
Hi,
Future request,

Today I changed the cachesize parameter.
Puppetrun went as expected
But zabbix-server daemon is not reloaded.
Done by systemctl restart zabbix-server
Please notify the zabbix-server when the zabbix-server.conf.erb is changed

Regards

Ronald

[2021-04-19 12:54] rwaffen commented on #740
it looks ready now, ran into the same problem and tested master from this module and it is working again.

[2021-04-23 13:12] Heidistein commented on #692
@jameskirsop I'd like to test your changes, provide feedback and pullrequests (if needed) but could you please update your repo to the latest from master?

[2021-04-26 03:45] #740 closed

[2021-05-03 13:39] root-expert commented on #754
Hello,

taking a look at the code it seems that the zabbix-server service is already being notified when the conf file is changed.
Could you provide the run output and how you configure your manifests?
Also what's the OS of the host?

[2021-05-03 18:33] #620 closed

[2021-05-03 23:06] #717 closed

[2021-05-07 08:46] #693 closed

[2021-05-07 12:27] #340 closed

[2021-06-04 09:02] Damianv99 opened #773 "Zabbix SQL file location has changed"
## Affected module

- Module version: 9

## How to reproduce (e.g Puppet code you use)
Use the module to install either the Zabbix server of Proxy

## What are you seeing
SQL files missing

## What behaviour did you expect instead
Module to find SQL file and setup database

## Output log

## Any additional information you'd like to impart
From Zabbix 5.4 onward, the SQL files are no longer include

[2021-06-22 18:44] Wildcarde opened #774 "Simplifying zabbix_agent requirements by separating it into it's own module?"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7
- Distribution: centos 7/8, ubuntu (too many)

This is a question / suggestion more than an issue at this time. I'm working to integrate our puppetized machines into a pre-existing zabbix installation and have come to discover that the zabbix module has a rather considerable number of dependencies that all seem to be in se

[2021-06-24 02:32] shane-davidson commented on #692
@Heidistein would it be more beneficial to just switch the manifest to install agent2 rather than increasing complexity to support both?

I have the following code working for redhat/centos
https://github.com/shane-davidson/puppet-zabbix/tree/agent2

I have updated the debian/ubuntu service but have not tested it.
my code will remove the old package (zabbix-agent) and install the new (zabbix-agent

[2021-06-24 06:23] shane-davidson commented on #692
Updating everything to zabbix-agent2 would also depend on a choco package so I have placed a request for the Zabbix guys to update the choco package to support zabbix-agent2 here: https://github.com/zabbix/zabbix-agent-chocolatey/issues/27

[2021-06-24 07:30] Heidistein commented on #692
I certainly would be easyer and  cleaner to just support agent2. However I dare not to choose the agent version for people (just yet). Guaranteed there will be a situation where agent2 is a problem, and agent itself is required. For example, hand in my own pocket, we still have ancient machines, used for the battles of Napoleon, for which there is no agent2 available (nor will there ever).

[2021-06-25 03:33] shane-davidson commented on #692
@Heidistein no worries. I have created a new branch here: https://github.com/shane-davidson/puppet-zabbix/tree/agent_agent2

It keeps all the same variables between agent and agent2 versions and switches between them with the bool $install_agent2 [here](https://github.com/shane-davidson/puppet-zabbix/blob/088cb8302d2edd7ec02dd68983b51d39263d1bd1/manifests/agent.pp#L290)

considerations:
- Currentl

[2021-06-25 09:29] Heidistein commented on #692
Share, great work. I will read your code after the weekend, sorry. Life happens.

1. Install agent 2 by default is probably okay. As agent2 is backward compatible with userparams.
2. It would be great to have them added. I'll spend some time on this.
3. I am not quite sure what is 'windows' thing is you speak of... ;-). srsly, perhaps via the params default to old engine there.
4. I can look into

[2021-07-26 08:48] XMol opened #777 "Drop deprecated hiera_hash()"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5+
- Ruby: any
- Distribution: any
- Module version: 7.0.0+

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

A warning logged by the Puppet master:

## What behaviour did you expect instead

No warning.

## Any additional information you'd like to impart

Since this module already demands Pup

[2021-07-26 09:10] alexjfisher commented on #777
It looks as if `hiera_hash` was used specifically to get merge behaviour.  Since this can now be set in module hiera data `lookup_options`, I don't think we need to have an explicit call to `lookup`.

[2021-07-26 09:27] XMol commented on #777
True, `lookup()` isn't strictly necessary. Though that would be the easiest fix. So far there is no `hiera.yaml` yet, thus this would be the first use case for it and pre-defined lookup behaviour for this module.

[2021-08-04 19:44] #773 closed

[2021-09-13 05:19] baron1405 opened #788 "Agent service needs to require the startup script"
The agent service does not explicitly require the startup script. This can result in the agent service starting using the wrong systemd service configuration file. The specific case causing the issue is:

Operating system: CentOS 7.7
Zabbix agent version: Default in the module

The zabbix agent RPM installs a systemd service script in /usr/lib/systemd/system. Because the Service['zabbix-agent'] do

[2021-09-13 08:08] Kihltech opened #789 "zabbix-sender is not upgraded to latest version."
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby: 2.3.1.p112
- Distribution: Ubuntu 16.04.6
- Module version: 8.0

## How to reproduce (e.g Puppet code you use)
We are upgrading some clients' from zabbix 4 to zabbix 5 with this code:
[code]

## What are you seeing
zabbix-agent is updated to the "latest" version as expected. zabbix-sender however, remains on

[2021-09-13 16:59] smortex commented on #788
As far as I can recall, this dependency is automatically managed by Puppet.  What version are you using?

[2021-09-13 17:23] baron1405 commented on #788
I am using Puppet 6.22.1 and puppet-zabbix 9.1.0.

[2021-09-13 20:37] root-expert commented on #789
As far as I see from the code you have to explicitly call zabbix::sender class with `zabbix_package_state` set.
I don't think it's being inherited

The default value is set in the params.pp file which is by default `present`

[2021-09-13 20:41] root-expert commented on #788
Hey @baron1405 ! Can you take a look at the zabbix::startup class. I believe that can solve your problem (although dunno how obvious/usable is that).

[2021-09-13 22:41] baron1405 commented on #788
@root-expert thanks for the reply. Yes, I looked at `zabbix::startup` while investigating this bug. I believe the problem is that where `zabbix::agent` defines the service resource ([line 316](https://github.com/voxpupuli/puppet-zabbix/blob/master/manifests/agent.pp#L316)) it does not require either the `zabbix::startup` resource ([line 297](https://github.com/voxpupuli/puppet-zabbix/blob/master/m

[2021-09-14 09:09] root-expert commented on #788
What's your version of puppet/systemd?

[2021-09-14 17:37] baron1405 commented on #788
@root-expert Versions are:

Puppet: 6.22.1
puppet-zabbix: 9.1.0
CentOS: 7.6
Systemd: 219

[2021-09-14 17:39] root-expert commented on #788
Sorry it wasn't very clear, I was asking what's your version of [puppet-systemd](https://github.com/voxpupuli/puppet-systemd) module :sweat_smile:

[2021-09-14 17:56] baron1405 commented on #788
puppet-systemd: 3.0.0

[2021-09-14 18:03] baron1405 commented on #788
puppet-systemd: 3.0.0

[2021-09-17 07:40] #788 closed

[2021-10-04 10:25] lduriez opened #799 "Zabbix:agent error with module puppet-systemd > 3.3.0"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.24.0
- Distribution: Amazon Linux 2 & CentOS 7
- Module version: 9.1.0

## How to reproduce (e.g Puppet code you use)
puppet-zabbix 9.1.0 et puppet-systemd > 3.3.0

## What are you seeing
When apply zabbix::agent classes I had the following error :
[code]

When downgraded to puppet-systemd 3.3.0 the error disappear.

In [p

[2021-10-04 14:20] cypheru opened #800 "Keychain for Zabbix repo certificate verify failed"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.16
- Ruby: ruby 2.3.1p112
- Distribution: Xenial
- Module version: 7.00

## How to reproduce (e.g Puppet code you use)
Puppet code is part of puppet-zabbix

## What are you seeing
SSL_connect returned=1 errno=0 state=error: certificate verify failed

## What behaviour did you expect instead
Expected puppet to put keys on

[2021-10-04 17:17] kenyon commented on #800
Note that we aren't supporting Ubuntu 16.04 and Puppet 5 anymore because they are EOL (although this module still lists Ubuntu 16.04 support, it will likely be removed soon).

[2021-10-04 18:51] root-expert commented on #799
@lduriez master branch of this module should be fixing this issue.

[2021-10-06 13:14] root-expert commented on #800
@cypheru This is probably related to the expiration of Letsencrypt's root certificate.

Have you tried updating `ca-certificates` package? Maybe that will fix it.
Doesn't seems related to this module though.

[2021-10-15 19:22] topkoa opened #802 "Raspberry PI Agent Install from naizvoru.com - Certificate Expired"
It seems the Cert has expired for the Zabbix Agent install for Raspberry PI.

[code]

[2021-11-05 16:21] topkoa commented on #802
Anyone got any ideas on a fix?

[2021-11-06 13:13] mergwyn commented on #596
I’ve come across this issue now and would like to have a try at solving it if we can agree a solution.  My use case is relatively simple:

- Where I need specific support within a profile I use `zabbix_template_host` to link necessary templates to hosts
- If I have `manage_resources` set when I setup the agent, then as per this issue all templates get unlinked before the list of templates specifie

[2021-11-20 11:17] mergwyn opened #804 "no parameter named 'interfacedetails'"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.25.1
- Ruby: 2.5.9
- Distribution: Ubuntu 20.04
- Module version: Master branch from repo

## How to reproduce (e.g Puppet code you use)
[code]
zbx_interface details is not set

## What are you seeing
I was trying to create a PR to address a different error when I can across this. I have taken a fork and see the error belo

[2021-11-26 12:36] #643 closed

[2021-11-27 11:42] mergwyn commented on #804
For reasons I don't fully understand, restarting the puppet server resolved this issue. Every day is a school day!

[2021-11-27 11:42] #804 closed

[2022-01-06 15:13] mergwyn opened #809 "ipaddress should be set to empty string if agent_use_ip is false"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.25.0
- Ruby: 2.5.9
- Distribution: ubuntu 20.04
- Module version: 9.1.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
API error caused by `ipaddress` set to 0 rather than an empty string as per zabbix API docs

## What behaviour did you expect instead
Successful API call

## Output log
[code

[2022-01-06 16:41] #809 closed

[2022-01-18 21:36] jameskirsop commented on #692
@Heidistein, I've just merged the latest changes from master onto my branch for you to test / PR against.

[2022-01-25 20:42] tunisiano187 opened #812 "DenyKey active by default even if denykey => undef,"
<!--
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.5
- Ruby: ?
- Distribution: Ubuntu
- Module version: latest

## How to reproduce (e.g Puppet code you use)
class { 'zabbix::agent':
     server => 'xxxx',
     denykey => undef,
}

## What are you seeing
DenyKey not recognised at start of the zabbix-agent

## What behaviour did you expect instead
when using denykey =>

[2022-01-31 11:19] vincent-zurczak commented on #692
Hello @jameskirsop.
I have no relation with @Heidistein, but I am glad you completed the support of Agent2 on your fork. Thank you for this work! We have been testing it since last week and so far, there are only two glitches we found on Windows:
* First, the [service name](https://github.com/jameskirsop/puppet-zabbix/blob/agent2/manifests/params.pp#L21) on Windows should be **Zabbix Agent 2** and

[2022-02-07 02:13] jameskirsop commented on #692
Thanks @vincent-zurczak, I've added a commit to address those two issues for Windows.

[2022-02-14 03:38] jameskirsop opened #814 "Zabbix 6.0"
Zabbix 6.0 will be released soon (RC's are now out). This issue is to track discussion around changes to allow this module to install/upgrade to 6.0.

[2022-02-16 20:46] greenaar commented on #814
Switching the versioncmp strings from

if versioncmp($zabbix_version, '5.4') == 0 {
to
if versioncmp($zabbix_version, '5.4') != -1 {

was enough to get 6.0 running for me.

I did manually run the /usr/share/doc/zabbix-sql-scripts/mysql/history_pk_prepare.sql script against my db, but i'm not sure if that was technically required.

The service also needed a manual restart post install, but everythi

[2022-02-16 21:55] greenaar commented on #814
There's a few more bits it turns out. StartODBCPollers needs an addition in params, proxy.pp, server.pp and the appropriate templates.

Upgrades DO require the sql for history to be run.
Templates need to be manually updated (from https://git.zabbix.com/rest/api/latest/projects/ZBX/repos/zabbix/archive?at=refs%2Ftags%2F6.0.0&format=zip )

I'll admit you're right with your logic, ! -1 will catch 0

[2022-02-22 22:47] jameskirsop commented on #814
I've got a branch here: https://github.com/jameskirsop/puppet-zabbix/tree/zabbix6.0support

It's probably PR-ready for adding basic 6.0 support after someone more familiar with this module has a quick look to make sure I've not missed anything.

[2022-03-04 20:04] logicminds opened #817 "startup_script fails for windows"
This bug is caused due to a case sensitivity issue with the service name for windows.  On windows the service name is capitalized while everything else it is lowercase.   This causes the service to not start because the fail function is executed.  A case insensitive comparison will fix this issue.

https://github.com/voxpupuli/puppet-zabbix/blob/master/manifests/startup.pp#L32

https://github.com/

[2022-03-05 00:29] smortex commented on #817
Puppet string comparison is not case sensitive, but repexp are. One can make them case insensitive [but the syntax is not that readable](https://puppet.com/docs/puppet/7/lang_data_regexp.html#lang_data_regexp-regex-options), maybe better [downcase](https://puppet.com/docs/puppet/7/function.html#downcase) the service name :wink:

[2022-03-10 10:33] #817 closed

[2022-03-11 18:17] Rathios commented on #633
Ran into this again today. Turns out `options => "http-proxy=\"${proxy}\"",` has no effect for the `source` parameter, only keyservers with `server`. Only workaround I could find was to run Puppet Agent with https_proxy set in it's environment.

[2022-03-17 12:25] root-expert commented on #814
Hello folks!

I would appreciate it if you took a moment to review/test the linked PR which adds Zabbix 6.0 support to the module :smile:

-Chris

[2022-04-10 08:30] #606 closed

[2022-05-17 10:04] root-expert commented on #814
This is already covered by the PR

[2022-06-02 15:37] #814 closed

[2022-06-16 17:15] ncstate-mafields opened #823 "The centos-release-scl package does not exist for RHEL"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.17.0
- Ruby: 2.7.6
- Distribution: RHEL 7
- Module version: 9.2.0

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

The `centos-release-scl` package is attempted to be installed, which fails because it does not exist on RHEL 7.

## What behaviour did you expect instead

The `centos-release-scl

[2022-07-27 15:23] ikcalB opened #825 "Proper configuration for reverse proxy setup"
Running zabbix behind a reverse proxy / loadbalancer (LB) ist not currently possible:

The parameter `zabbix_url` is not only used as the frontend-URL, but also the server name.
Behind an LB these 2 are different, i.e:
  - host name: my-host.localdomain.lan
  - url: monitoring.company.com

In such a setup zabbix would run without TLS on :80. The LB is taking care of the TLS handshake.
zabbixapi wi

[2022-08-03 14:32] src386 opened #830 "Exec[update_pgpass] failed"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.27.1-1focal
- Ruby: 2.5.9p229
- Distribution: Ubuntu 20.04
- Module version: master (currently v9.2.0)

## How to reproduce (e.g Puppet code you use)

Use Postgresql and set a custom password with special characters such as `&`.

[code]

## What are you seeing

[code]

## What behaviour did you expect instead

[code]

## O

[2022-08-03 14:43] src386 commented on #830
I created Pull Request #831.

[2022-08-03 14:46] src386 commented on #830
#831

[2022-08-03 15:37] xchotard-talentsoft opened #832 "Mysql charset (utf8) and collate (utf8_bin) not idempotent"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.27.1-1focal
- Ruby: 2.5.9p229
- Distribution: Ubuntu 20.04
- Module version: v9.2.0

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

At each Puppet agent execution, the following changes are reported:

[code]

## What behaviour did you expect instead

The charset/collate changes should not be

[2022-08-04 18:37] sahaqaa commented on #692
Hello, I am interested in this and wondering if this will be implemented? At least for Unix like OS's :-)

[2022-08-09 07:17] anders-larsson commented on #692
Hi, I'm also interested in support for zabbix-agent2.

[2022-08-11 16:02] Damianv99 opened #838 "Proxy schema file incorrect for Zabbix 6"
## Affected Puppet, Ruby, OS and module versions/distributions

- Module version: 9.2.0

## How to reproduce (e.g Puppet code you use)
Installing a proxy with either Mysql or Postgresql

## What are you seeing
both Zabbix::Database::mysql.pp and Zabbix::Database::postgresql.pp are looking for the schema file schema.sql.gz which no longer exists.
The proxy schema uses a file called proxy.sql which

[2022-08-17 08:20] Rathios commented on #823
This one hit us too. I have a PR i nthe works but have to wait for this one to be merged first: https://github.com/voxpupuli/puppet-zabbix/pull/834

[2022-08-25 11:30] hnouu opened #839 "path zabbix-agentd.pid & zabbix-server.pid"
hello

use the classes
zabbix agent
zabbix server
zabbix data
zabbix repo
zabbix web

but the 2 path not created : zabbix-agentd.pid & zabbix-server.pid

any help??

[2022-09-21 18:36] #832 closed

[2022-09-22 13:38] xchotard-talentsoft commented on #838
Same issue here, looks like the files have been moved:
[code]
I suspect this is related to 6.2.3 because I successfully deployed zabbix proxies in 6.2.2.

[2022-09-26 11:44] anthonysomerset commented on #823
and i just hit this too....

i see that #834 is now merged also :)

[2022-10-03 08:39] john275 commented on #832
Can we get a 9.2.1 release for this fix 🙏

[2022-10-04 09:24] LeHigh75 opened #845 "Error when manage zabbix::web::manage_resources: true"
## Affected Puppet, Ruby, OS and module versions/distributions

- Module version: 9.2.0

## What are you seeing

When puppet runs, i an error only if zabbix::web::manage_resources: true is specified (it runs perfectly when zabbix::web::manage_resources: false) :

## What behaviour did you expect instead
Zabbix server managing exported resources

## Output log

Info: Applying configuration version

[2022-10-20 07:07] Fabian1976 opened #846 "Old template name hard coded"
When you deploy a new Zabbix instance en `manage_resources` is set to true, you lose idenpotency and every run this is displayed:
[code]

This is because the template is named `Zabbix Proxy` and in the code the old template name is hard-coded:
https://github.com/voxpupuli/puppet-zabbix/blob/a122643b8c3e60685cc8577ce7f04c5e0360d6dd/manifests/proxy.pp#L349

There also seems to be a parameter `zbx_te

[2022-11-01 22:08] ryanhulet opened #847 "When specifying a zabbix::agent::zbx_macro you cannot select a type other than plaintext."
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby: I think the ruby code is what is handling the parsing of macros
- Distribution:
- Module version:

## How to reproduce (e.g Puppet code you use)

## What are you seeing

Can only specify maco name and value, not type

## What behaviour did you expect instead

I want to be able to select sensitive (type 1) or vault (t

[2022-11-21 13:10] amalraj2711 commented on #692
Any ETA for this update?

[2022-11-25 11:58] Ph0B1uS opened #852 "Module forces v5 repos when running on a non windows OS"
https://github.com/voxpupuli/puppet-zabbix/blob/a122643b8c3e60685cc8577ce7f04c5e0360d6dd/manifests/params.pp#L128-L132

This is the offending line which makes it impossible to install any version above 5.X as the repo is managed by the module and only installs v5 rather than adapting to `zabbix_version`

[2022-11-29 18:10] teluq-pbrideau opened #853 "Set DirectoryIndex in the zabbix module"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.20
- Ruby: 2.7.6p219
- Distribution: RockyLinux
- Module version: Master

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
[code]

## What behaviour did you expect instead
I expect the zabbix web page to be available by default once configured.

## Output log

## Any additional information you'd

[2022-11-29 22:50] #838 closed